# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# VScode stuff
.vscode/

# Interim results
LDCP/results/

# Large dataset
LDCP/datasets/facebook/Features_Variant_1.csv
LDCP/datasets/facebook/Features_Variant_2.csv
LDCP/datasets/blogData_train.csv