# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# VScode stuff
.vscode/

# Interim results
SLCP/results/

# Large dataset
SLCP/datasets/facebook/Features_Variant_1.csv
SLCP/datasets/facebook/Features_Variant_2.csv
SLCP/datasets/blogData_train.csv
SLCP/get_meps_data/h181.csv
SLCP/get_meps_data/h192.csv
SLCP/datasets/meps_19_reg.csv
SLCP/datasets/meps_20_reg.csv
SLCP/datasets/meps_21_reg.csv
SLCP/saved_models
SLCP/saved_models_200