# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# VScode stuff
.vscode/

# Interim results
LDCP/results/

# Large dataset
LDCP/datasets/facebook/Features_Variant_1.csv
LDCP/datasets/facebook/Features_Variant_2.csv
LDCP/datasets/blogData_train.csv
LDCP/get_meps_data/h181.csv
LDCP/get_meps_data/h192.csv
LDCP/datasets/meps_19_reg.csv
LDCP/datasets/meps_20_reg.csv
LDCP/datasets/meps_21_reg.csv